@model SchoolApp.Models.NotaAlunoTurmaDisciplinaViewModel
@{
    ViewData["Title"] = "Adicionar Nota Todos alunos";
}
<head>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" />
    <script src="~/js/site.js"></script>
</head>  
<br>
<br>
<h3 class="text-center">New Evaluation</h3>
<br>
     <form method="post">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <input type="hidden" asp-for="TurmaId" />
                    <input type="hidden" asp-for="disciplinaId" />
                      
                    <input asp-for="turmaNome" class="form-control font-weight-bold bg-secondary" style="height: 3rem; color: white;" disabled="disabled" />
              
                    <br>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <input asp-for="disciplinaNome" class="form-control font-weight-bold" style="height: 3rem;" disabled="disabled" required />
                        </div>
                              <div class="form-group col-md-4">
                                    
                                     <input type="date" asp-for="Data" id="date" class="form-control bg-light" style="height: 3rem;">
                                  <span asp-validation-for="Data" class="text-danger small"></span>
                                 
                                  </div>
                  </div>
                    <br>
                    <table class="table table-hover table-responsive" >
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Alunos.FirstOrDefault().foto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Alunos.FirstOrDefault().nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Alunos.FirstOrDefault().nota)
                                </th>
                           
                                    <th>
                                    @Html.DisplayNameFor(model => model.Alunos.FirstOrDefault().novanota)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Alunos != null)
                            {
                                @for (int i = 0; i < Model.Alunos.Count(); i++)
                                {
                                    <tr>
                                        <td class="align-middle">
                                            <input type="hidden" asp-for="@Model.Alunos[i].alunoid" />
                                            <img src="@Url.Content(@Model.Alunos[i].foto)" alt="Image" class="rounded-circle" style="width: 44px; height: 44px;  max-height: 100%; width: auto;" />
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => Model.Alunos[i].nome)
                                        </td>
                                        <td class="align-middle">
                                            <input type="hidden" asp-for="@Model.Alunos[i].nota" />
                                            @Html.DisplayFor(modelItem => Model.Alunos[i].nota)
                                        </td>
                                        <td class="align-middle col-md-3">
                                            <input asp-for="@Model.Alunos[i].novanota" class="form-control bg-light" min="0" max="20" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <br>
                    <div class="form-group text-center">
                        <input type="submit" value="Register" class="btn btn-secondary" />
                      
                    </div>
                      <div class="text-danger text-center mr-4" asp-validation-summary="ModelOnly"></div>
                </div>
            </div>
        </form>


<br>
<div class="text-success text-center">
    <p>
        @Html.Raw(ViewBag.Message)
    </p>
</div>


<script>
    const dateInput = document.getElementById('date');


dateInput.value = formatDate();

console.log(formatDate());

function padTo2Digits(num) {
    return num.toString().padStart(2, '0');
}

function formatDate(date = new Date()) {
    return [
        date.getFullYear(),
        padTo2Digits(date.getMonth() + 1),
        padTo2Digits(date.getDate()),
    ].join('-');
}
</script>

