@model SchoolApp.Models.NotaAlunoTurmaDisciplinaViewModel
@{
    ViewData["Title"] = "Adicionar Nota Todos alunos";
    Layout = null;
}
<head>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" />
    <script src="~/js/site.js"></script>
    
     <link rel="stylesheet" href="~/css/Create.css" />
         <link rel="stylesheet" href="~/css/Index.css" />
</head>  
<partial name="_Navbar" />
   <body    style=" background-image: url(../images/students.jpg) ; background-repeat: no-repeat;background-size: cover;">
        <h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 560px;margin-top: 30px;padding-right:0px; width: 440px;">Adicionar Nota</h1>
         <form method="post">
              
                    <input type="hidden" asp-for="TurmaId" />
                    <input type="hidden" asp-for="disciplinaId" />
                       <input type="hidden" asp-for="Cursoid" />
                        <input type="hidden" asp-for="CursoNome" />
                        <main style="margin-left: 760px;
    margin-top: 435px;
    width: 844px;
    height: 695px;
">
 
  <figure style="width: 846px;">
      <input asp-for="turmaNome" class="form-control font-weight-bold bg-secondary" style="height: 4rem;
    color: white;
    width: 197px;
    margin-bottom: 0px;" disabled="disabled" />
       <input asp-for="CursoNome" class="form-control" style="height: 4rem;
   
    margin-left: -4px;
   
    width: 202px;" disabled="disabled" />
        <input asp-for="disciplinaNome" class="form-control" style="margin-top: -144px;
    margin-left: 624px;
    
    width: 287px;
    height: 4rem;" disabled="disabled" />
    <input type="date" asp-for="Data" id="date" class="form-control bg-light" style="    margin-top: -21px;
    margin-left: 624px;
  
    width: 222px;
    height: 4rem;">
 <span asp-validation-for="Data" class="text-danger small"></span>
  <dir class="board" style="margin-left: 0px;
    height: 420px;
    width: 100%;">
                <table width="100%">
                    <thead>
                        <tr>
                            <td> Aluno </td>
                         
                            <td>Nota</td>
                               <td>Nova Nota</td>
                           
                            
                        </tr>
                    </thead>
                    <tbody>
                          @if (Model.Alunos != null)
                            {
                                @for (int i = 0; i < Model.Alunos.Count(); i++)
                                {
                                    <tr style="
    background-color: #ecc190;">
                                         <td class="item">
                                              <input type="hidden" asp-for="@Model.Alunos[i].alunoid" />
                                <img src="@Url.Content(@Model.Alunos[i].foto)" alt="">
                                    <div class="people-de">
                                        <h5>@Html.DisplayFor(modelItem => Model.Alunos[i].nome)</h5>
                                    
                                    </div>   
                                    </td>
                         
                            
                            <td class="people-des">
                                <input type="hidden" asp-for="@Model.Alunos[i].nota" />
                                <h5>  @Html.DisplayFor(modelItem => Model.Alunos[i].nota)</h5>
                            
                            </td>

                       
                            <td class="people-des">
                             <h5>   <input asp-for="@Model.Alunos[i].novanota" class="form-control bg-light" min="0" max="20" /></h5>
                           
                            </td>
                            </tr>
                                }
                            }
                            </tbody>
                            </table>
                            
    <input class="text-small-uppercase" style="left: 294px;
    bottom: 46px;" id="submit" type="submit" value="Adicionar Notas">
    <div class="text-danger text-center mr-4" asp-validation-summary="ModelOnly"></div>
    <div class="text-success text-center">
    <p>
        @Html.Raw(ViewBag.Message)
    </p>
</div>
</figure>
</main>
</form>
</body>

@*
  
             
                 
                       
                            @if (Model.Alunos != null)
                            {*
                                @for (int i = 0; i < Model.Alunos.Count(); i++)
                                {
                                    <tr>
                                        <td class="align-middle">
                                            <input type="hidden" asp-for="@Model.Alunos[i].alunoid" />
                                            <img src="@Url.Content(@Model.Alunos[i].foto)" alt="Image" class="rounded-circle" style="width: 44px; height: 44px;  max-height: 100%; width: auto;" />
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => Model.Alunos[i].nome)
                                        </td>
                                        <td class="align-middle">
                                            <input type="hidden" asp-for="@Model.Alunos[i].nota" />
                                            @Html.DisplayFor(modelItem => Model.Alunos[i].nota)
                                        </td>
                                        <td class="align-middle col-md-3">
                                            <input asp-for="@Model.Alunos[i].novanota" class="form-control bg-light" min="0" max="20" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <br>
                    <div class="form-group text-center">
                        <input type="submit" value="Register" class="btn btn-secondary" />
                      
                    </div>
                      <div class="text-danger text-center mr-4" asp-validation-summary="ModelOnly"></div>
                </div>
            </div>
        </form>
*@





<script>
    const dateInput = document.getElementById('date');


dateInput.value = formatDate();

console.log(formatDate());

function padTo2Digits(num) {
    return num.toString().padStart(2, '0');
}

function formatDate(date = new Date()) {
    return [
        date.getFullYear(),
        padTo2Digits(date.getMonth() + 1),
        padTo2Digits(date.getDate()),
    ].join('-');
}
</script>

