@model IEnumerable<SchoolApp.Models.NotaViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("search")  
        <input type="submit" value="search" /></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotaAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anotação)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aluno.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>--
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotaAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anotação)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disciplina.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
