@model SchoolApp.Models.FaltaAlunoTurmaDisciplinaViewModel

@{
    ViewData["Title"] = "Nova Falta";
    Layout = null;
}
<head>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" />
    <script src="~/js/site.js"></script>
    
     <link rel="stylesheet" href="~/css/Create.css" />
         <link rel="stylesheet" href="~/css/Index.css" />
</head>  
<partial name="_Navbar" />
   <body    style=" background-image: url(../images/students.jpg) ; background-repeat: no-repeat;background-size: cover;">
        <h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 560px;margin-top: 30px;padding-right:0px; width: 440px;">Adicionar Nota</h1>
        <form asp-action="CreateAlunoFaltas">
               <input type="hidden" asp-for="turmaid" />
                    <input type="hidden" asp-for="disciplinaid" />
                    <input type ="hidden" asp-for="duracao" />
                     <input type="hidden" asp-for="CursoId" />
                     <input type="hidden" asp-for="CursoNome" />
                        <main style="margin-left: 760px;
    margin-top: 435px;
    width: 844px;
    height: 695px;
">
 
  <figure style="width: 846px;">
      <input asp-for="nometurma" class="form-control font-weight-bold bg-secondary" style="height: 4rem;
    color: white;
    width: 197px;
    margin-bottom: 0px;" disabled="disabled" />
       <input asp-for="CursoNome" class="form-control" style="height: 4rem;
   
    margin-left: -4px;
   
    width: 202px;" disabled="disabled" />
        <input asp-for="nomedisciplina" class="form-control" style="margin-top: -144px;
    margin-left: 507px;
    width: 371px;
    height: 4rem;" disabled="disabled" />
    <input type="date" asp-for="Data" id="date" class="form-control bg-light" style="    margin-top: -21px;
    margin-left: 624px;
  
    width: 222px;
    height: 4rem;">
 <span asp-validation-for="Data" class="text-danger small"></span>
  <dir class="board" style="margin-left: 0px;
    height: 420px;
    width: 100%;">
                <table width="100%">
                    <thead>
                        <tr>
                            <td> Aluno </td>
                         
                            <td>Horas Falta</td>
                               <td>Percentagem</td>
                            <td>Duração</td>
                            <td>Situação</td>
                        </tr>
                    </thead>
                    <tbody>
                          @if (Model.FaltaAlunos != null)
                            {
                                @for (int i = 0; i < Model.FaltaAlunos.Count(); i++)
                                {
                                    <tr style="
    background-color: #ecc190;">
                                         <td class="item">
                                           <input type="hidden" asp-for="@Model.FaltaAlunos[i].alunoid" />
                                <img src="@Url.Content(@Model.FaltaAlunos[i].foto)" alt="">
                                    <div class="people-de">
                                        <h5>@Html.DisplayFor(modelItem => Model.FaltaAlunos[i].nome)</h5>
                                    
                                    </div>   
                                    </td>
                         
                            
                            <td class="people-des">
                                 <input type="hidden" asp-for="@Model.FaltaAlunos[i].horasfalta" />
                                <h5>@Html.DisplayFor(modelItem => Model.FaltaAlunos[i].horasfalta)</h5>
                            
                            </td>
                                 <td class="people-des">
                               
                                <h5> @Html.DisplayFor(modelItem => Model.FaltaAlunos[i].percentagem)%</h5>
                            
                            </td>
                       
                            <td class="people-des">
                             <h5>   <input asp-for="@Model.FaltaAlunos[i].duracao" class="form-control bg-light" min="0" max="100" /></h5>
                           
                            </td>
                            <td class="people-des">
                                <h5>  @if (Model.FaltaAlunos[i].excluido == true)
                                            {
                                                <a>Excluído por faltas</a>
                                            }else

                                            {
                                                <a>-</a>
                                            }</h5>
                            </td>
                            </tr>
                                }
                            }
                            </tbody>
                            </table>
                            
     <input type="submit" value="Adicionar Faltas" style="margin-left: 297px;" asp-route-nometurma="@Model.nometurma" class="btn btn-secondary" />
    <div class="text-danger text-center mr-4" asp-validation-summary="ModelOnly"></div>
   
    <div class="text-success text-center">
    <p>
        @Html.Raw(ViewBag.Message)
    </p>
</div>
     
</figure>
</main>
  <div class="col-md-2 offset-md-5 nav-item text-center">
            <a asp-controller="Faltas" asp-action="CreateAlunoFaltas" asp-route-turmaid="@Model.turmaid" asp-route-disciplinaid="@Model.disciplinaid" class="nav-link text-dark">Voltar</a>
        </div>
</form>
</body>


<script>
    const dateInput = document.getElementById('date');


dateInput.value = formatDate();

console.log(formatDate());

function padTo2Digits(num) {
    return num.toString().padStart(2, '0');
}

function formatDate(date = new Date()) {
    return [
        date.getFullYear(),
        padTo2Digits(date.getMonth() + 1),
        padTo2Digits(date.getDate()),
    ].join('-');
}
</script>