@model IList<SchoolApp.Models.FaltaAlunoViewModel>

@{
    ViewData["Title"] = "Index";
   Layout = null;
}
<partial name="_Navbar" />
<h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 766px;margin-top: 30px;padding-right:0px;width: 163px;"> Alunos</h1>
<head>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
      <link href="~/css/Index.css" rel="stylesheet">
</head>




<form method="post">
    


      
            <dir class="board">
                <table width="100%">
                    <thead>
                        <tr>
                            <td> Nome  </td>
                         
                           
                            <td>Turma</td>
                          
                              <td></td>
                              <td></td>
                            
                        </tr>
                    </thead>
                    <tbody>
            @if(Model.Count() == 0)
            {
                <tr><td><h2  style="color:black; text-align:center">@ViewBag.message</h2></td></tr>
                
                  
            }
            @foreach (var item in Model) {
                        <tr>
                            <td class="item">
                                <img src="@Url.Content(item.Foto)" alt="">
                                    <div class="people-de">
                                        <h5> @Html.DisplayFor(modelItem => item.Nome) </h5>
                                        
                                    </div>                                
                            </td>
           
                            <td class="active">
                                  @Html.DisplayFor(modelItem => item.Turmas.FirstOrDefault().Text)
                            </td>
                       
                            <td class="people-des">
                                  <input type="hidden" asp-for="@item.alunoId" asp-for="@item.TurmaId"/>

                <input type="submit" asp-controller="Faltas" asp-action="Index" asp-route-AlunoId="@item.alunoId" asp-route-turmaid="@item.TurmaId" value="View" class="btn btn-secondary btn-sm" />
                          
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </dir>
       <p style="text-align: center;"><a asp-action="CreateTurmaFaltas" class="btn btn-secondary">Adicionar Notas</a></p> 

       </form>
<partial name="_footer" />

@*<h1>Index</h1>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("search")  
        <input type="submit" value="search" /></p>
}
<form method="post">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Turmas)
            </th>
     
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr> <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turmas.FirstOrDefault().Text)
            </td>
            <td>
                  <input type="hidden" asp-for="@item.alunoId" asp-for="@item.TurmaId"/>
                  <input type="submit" asp-controller="Faltas" asp-action="Index" asp-route-AlunoId="@item.alunoId" asp-route-turmaid="@item.TurmaId" value="View" class="btn btn-secondary btn-sm" />
            </td>
        </tr>
}
    </tbody>
</table>
</form>
  <div class="form-group text-center">
            <a asp-action="CreateTurmaFaltas" class="btn btn-secondary">Adicionar Notas</a>
        </div>*@