@model IEnumerable<SchoolApp.Data.Entities.CursoDisciplina>

@{
    ViewData["Title"] = "Index";    Layout = null;
}
<partial name="_Navbar" />
<h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;    margin-left: 570px;
    margin-top: 30px;
    padding-right: 0px;
    width: 474px;
}">Disciplinas no Curso</h1>
<head>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
      <link href="~/css/Index.css" rel="stylesheet">
</head>



    





      
            <dir class="board">
                <table width="100%">
                    <thead>
                        <tr>
                            <td> Disciplinas</td>
                         
                            <td>Duração</td>
                               <td>Descrição</td>
                            <td></td>
                            
                              <td></td>
                              <td></td>

                        </tr>
                    </thead>
                    <tbody>
            @if(Model.Count() == 0)
            {
                <tr><td><h2  style="color:black; text-align:center"> Esta turma não tem disciplinas</h2></td></tr>
                
                  
            }
            @foreach (var item in Model) {
                        <tr>
                            <td>
                                    <div class="people-de">
                                        <h5> @Html.DisplayFor(modelItem => item.Disciplina.Nome)</h5>
                                        
                                    </div>                                
                            </td>
                            <td class="active">
                                  @Html.DisplayFor(modelItem => item.Disciplina.Duracao)
                            </td>
                            
                            <td class="people-des">
                                <h5> @Html.DisplayFor(modelItem => item.Disciplina.Descrição)</h5>
                            
                            </td>

                       
                           
                            <td>
                                  <a asp-controller="Alunos" asp-action="IndexAlunosDaTurma" asp-route-id="@item.CursoId" asp-route-id2="@item.DisciplinaId" class="btn btn-secondary btn-sm">Alunos</a> 
                            </td>
                   
                            <td class="edit">  <a asp-action="Delete" asp-route-id="@item.Id" >Apagar</a> 
                        </tr>
                        }
                    </tbody>
                </table>
            </dir>
            @if (@ViewBag.data != null)
{
    <p style="text-align: center;"><a class="button-56" role="button"  asp-route-id="@ViewBag.data" asp-action="Create">Adicionar Disciplina ao Curso</a> </p> 

}
       


<partial name="_footer" />





@*   
<h1>Index</h1>

@if (@ViewBag.data != null)
{
    <a asp-action="Create" asp-route-id="@ViewBag.data">Create</a>
}

  
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina.Descrição)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



@foreach (var item in Model){
   
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Duracao)
            </td>
                 <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Descrição)
            </td>
            <td>
             <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
              <a asp-controller="Alunos" asp-action="IndexAlunosDaTurma" asp-route-id="@item.CursoId" asp-route-id2="@item.DisciplinaId" class="btn btn-secondary btn-sm">Alunos</a> 
        
         </td>
        </tr>
}
    </tbody>
</table>*@
