@model SchoolApp.Models.AlunoAvaliacoesViewModel
@{
    ViewData["Title"] = "Avaliação do Aluno";
    Layout = null;
}
<partial name="_Navbar" />
<h1 style="font-size: 50px;align-items:center;margin-left: 700px;margin-top: 30px;padding-right:0px;width:500px;">As suas avaliações:</h1>
<head>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
      <link href="~/css/Index.css" rel="stylesheet">
</head>

     <form style="padding-left: 30px;"  id="standard-3" method="get" action="" id="form2">
    <input type="text" class="search-txt-input" name="q" maxlength="100">
    <button type="submit" form="form2"  class="search-button">
      <i class="fa fa-search"></i>
    </button>
  </form>


  <body  >


      
            <dir class="board">
                <table width="100%">
                    <thead>
                        <tr>
                            <td> Disciplina</td>
                         
                            <td>Horas Faltadas</td>
                            
                            <td> Percentagem de  Faltas</td>
                               <td>Data</td>
                            <td>Nota</td>
                            <td>Estado</td>
                              <td></td>
                        </tr>
                    </thead>
                    <tbody>
            
           @if (Model.AvaliacaoDisciplinas != null)
            {
                @foreach (var item in Model.AvaliacaoDisciplinas)
                {
                    <tr>
                        <td>
                          <div class="people-de">
                                <h5> @Html.DisplayFor(modelItem => item.Nomedisciplina)</h5>
                                <p>  @Html.DisplayFor(modelItem => item.Duracaodisciplina) horas totais</p>
                            </div>                                
                        </td>
                        <td class="people-des">
                            <h5> @Html.DisplayFor(modelItem => item.Horasfalta)</h5>
                        </td>
                        <td class="people-des">
                            <h5> @Html.DisplayFor(modelItem => item.Percentagemfalta)</h5>
                        </td>
                        <td class="people-des">
                            <h5>@Html.DisplayFor(modelItem => item.DataNota)</h5>
                        </td>
                        <td class="people-des">
                            <h5>@Html.DisplayFor(modelItem => item.Nota)</h5>
                        </td>
                          <td class="people-des">
                                    @if (item.ChumbouFaltas == true)
                                        {
                                            <a style="color: red;">Chumbou Por Faltas</a>
                                        }
                                        else if(item.Chumbounota ==true)
                                        {
                                            <a style="color: red;">Chumbou Por Nota Inferior a 10</a>
                                        }else if (item.ChumbouFaltas == true && item.Chumbounota ==true)
                                        {
                                            <a style="color: red;">Chumbou Por Faltas e Nota</a>
                                        }
                                        else{

                                            <a style="color: green;">Passou!</a>
                                            }
                        </td>

                    </tr>
                }
            }
              </tbody>
                  </table>
            </dir>
      
            </body>

<partial name="_footer" />


















@*<br>
<br>
<h3 class="text-center">Evaluations</h3>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-auto">
                <input asp-for="NomeCurso" class="form-control bg-secondary" style="height: 3rem; color: white;" disabled="disabled" />
                <br>
                <br>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AvaliacaoDisciplinas.FirstOrDefault().Nomedisciplina)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.AvaliacaoDisciplinas.FirstOrDefault().Duracaodisciplina)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AvaliacaoDisciplinas.FirstOrDefault().Horasfalta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AvaliacaoDisciplinas.FirstOrDefault().Percentagemfalta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AvaliacaoDisciplinas.FirstOrDefault().DataNota)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AvaliacaoDisciplinas.FirstOrDefault().Nota)
                            </th>
                               <th>
                                Estado:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.AvaliacaoDisciplinas != null)
                        {
                            @foreach (var item in Model.AvaliacaoDisciplinas)
                            {
                                <tr >
                                    <td class="align-middle ">
                                        @Html.DisplayFor(modelItem => item.Nomedisciplina)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.Duracaodisciplina)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.Horasfalta)
                                    </td>
                                        
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.Percentagemfalta)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.DataNota)
                                    </td>
                                    <td class="align-middle ">
                                        @Html.DisplayFor(modelItem => item.Nota)
                                    </td>
                                    <td class="align-middle">
                                        @if (item.ChumbouFaltas == true)
                                        {
                                            <a style="color: red;">Chumbou Por Faltas</a>
                                        }
                                        else if(item.Chumbounota ==true)
                                        {
                                            <a style="color: red;">Chumbou Por Nota Inferior a 10</a>
                                        }else if (item.ChumbouFaltas == true && item.Chumbounota ==true)
                                        {
                                            <a style="color: red;">Chumbou Por Faltas e Nota</a>
                                        }
                                        else{

                                            <a style="color: green;">Passou!</a>
                                            }
                                        </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br>
     
    </div>
</div>*@
