@model SchoolApp.Data.Entities.Aluno

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

     <link rel="stylesheet" href="~/css/Create.css" />
</head>
<partial name="_Navbar" />
<body>
         <h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 766px;margin-top: 30px;padding-right:0px;width: 327px;"> Apagar Aluno</h1>
       <main style="margin-left: 900px;
    margin-top: 518px; height: 800px;">
  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <input type="hidden" asp-for="Id" />
           <input type="hidden" asp-for="ImageUrl" />
    <figure>
    <div class="picture" style="
    padding-top: 24px;">
        
    <div class="containerform"   id="custom-btn">
         <div class="wrapper" style="height: 600px;">
            <div class="image">
               <img src="@Url.Content(@Model.ImageUrl)" alt="">
            </div>
         </div>
      </div>

    </div>
    </figure>
    <div class="form1" style="padding-top:40px">    <div class="form1" style="padding-top:16px; margin-left:20px; width: 495px;">
        <span class="inputs--filled" >
          <label for="username" style="
    margin-right: 390px; font-size: 25px; margin-top: 20px;
" class="text-small-uppercase">Nome:</label>
          <a class="text-body" style= "font-size: 25px; margin-top: 20px;">  @Html.DisplayFor(model => model.PrimeiroNome)   @Html.DisplayFor(model => model.UltimoNome) </a>
           
        </span>
        <span class="inputs--filled" >
            <label for="username" style="
    margin-right: 390px; font-size: 25px; margin-top: 20px;" class="text-small-uppercase">Email:</label>
             <a class="text-body" style= "font-size: 25px; margin-top: 20px;"> @Html.DisplayFor(model => model.Email)  </a>
          </span>
        <span class="inputs--filled" >
          <label for="email"style="
    margin-right: 390px;font-size: 25px; margin-top: 20px;
" class="text-small-uppercase">Telemovél:</label>
           <a class="text-body" style= "font-size: 25px; margin-top: 20px;"> @Html.DisplayFor(model => model.Telemovel)  </a>
        </span>
                <span class="inputs--filled"  >
          <label for="email" style="
    margin-right: 390px; font-size: 25px; margin-top: 20px;
"class="text-small-uppercase">Data de Nascimento:</label>
           <a class="text-body" style= "font-size: 25px; margin-top: 20px;"> @Html.DisplayFor(model => model.Data_Nascimento)  </a>
        </span>
                <span class="inputs--filled" >
          <label for="email" style="
    margin-right: 390px;font-size: 25px; margin-top: 20px;
"class="text-small-uppercase">Género:</label>
           <a class="text-body" style= "font-size: 25px; margin-top: 20px;"> @Html.DisplayFor(model => model.Genero)  </a>
        </span>
                <span class="inputs--filled" >
          <label for="email"  style="
    margin-right: 390px;font-size: 25px; margin-top: 20px;
"  class="text-small-uppercase">Turma:</label>
           <a class="text-body" style= "font-size: 25px; margin-top: 20px;"> @Html.DisplayFor(model => model.turma.Nome)  </a>
        </span>
            <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input id="submit" type="submit" value="Delete" style="margin-left: 70px;" class="text-small-uppercase"/> 
       
    </form>


         <h2 >@ViewBag.errormessage</h2>
    </div>
    </div>

  
  </main>
  </body>







