@model IEnumerable<SchoolApp.Data.Entities.TurmaDisciplina>

@{
    ViewData["Title"] = "Index";
}
 
     @*  <partial name="~/Views/TurmaDisciplinas/Create.cshtml" />*@

   
<h1>Index</h1>

@if (@ViewBag.data != null)
{
    <a asp-action="Create" asp-route-id="@ViewBag.data">Create</a>
}

  
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina.Descrição)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



@foreach (var item in Model){
   
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Duracao)
            </td>
                 <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Descrição)
            </td>
            <td>
             <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
              <a asp-controller="Alunos" asp-action="IndexAlunosDaTurma" asp-route-id="@item.TurmaId" asp-route-id2="@item.DisciplinaId" class="btn btn-secondary btn-sm">Alunos</a> 
        
         </td>
        </tr>
}
    </tbody>
</table>
